@model AlmLabb.Models.ViewModels.StartPageVievModel

    <div>
        <table class="table">
            <tr>
                <th>Kundnummer hej</th>
                <th>Namn</th>
                <th>Kontonummer</th>
                <th>Saldo</th>
            </tr>
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td>@item.CustomerID</td>
                    <td>@item.FullName</td>
                    <td>@item.Account.AccountID</td>
                    <td>@item.Account.Balance kr</td>
                </tr>
            }
        </table>
    </div>



